# Byte-compiled / optimized / Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambientes Virtuais e Conda
venv/
env/
.env
ENV/
.venv

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Base de Dados e Dados Locais (Gigabytes)


# Arquivos do Sistema Operacional e IDEs
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.swp